@import "variables";

//Box size setup
html {
    font-size: 100%;
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}
//body setup
body{
    font-family: 'Outfit', sans-serif;
    background-color: $Verydarkbluemain;
    color:#fff;
    position: relative;
    min-height: 100vh;
}
