@import "variables";

//Box size setup
html {
    font-size: 100%;
    box-sizing: border-box;
}
  
*, *::after, *::before {
    box-sizing: inherit;
}
//body setup
body{
    font-family: 'Outfit', sans-serif;
    background-color: $Verydarkbluemain;
    color:#fff;
    position: relative;
    min-height: 100vh;
}
//Container setup
//Nest all the container childs within container div
.container{
    width: 455px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px;
    text-align: center;
    background-color: $Verydarkbluecard;
    padding: 30px;
    .header{
        img{
            width: 100%;
            border-radius: 10px;
        }
        h2,p{
            text-align: left;
        }
        h2{
            font-size: 31px;
            font-weight: 600;
            line-height: 1;
        }
        p{
            color: $Softblue;
            line-height: 1.4;
            font-size: 22px;
            letter-spacing: 0.05em; 
        }
    }
    .etherium{
        display: flex;
        justify-content: space-between;
        .left{
            display: flex;
            flex: 1;
            justify-content: space-around;
            
            img{
                height: 20px;
                align-self: center;
            }
            p{
                color: $Cyan;
                font-weight:600;
                padding-right: 10px;
                margin-right: 10px;
            }
        }
        .right{
            display: flex;
            flex: 2;
            justify-content: right;

            img{
                height: 18px;
                align-self: center;
                margin-right: 5px;
            }
            p{
                color: $Softblue;
            }
        }
    }
}
